{% load static %}

<header>
  <a href="{% url 'home' %}" class="main-logo">
    <h2>Chirp</h2>
    <img src="{% static 'ChirpApp/images/logo.webp' %}" alt="Chirp Logo - a bird's beak." />
  </a>

  <div class="header-right">
    {% if user.exists %}
      <img src="{{ user.photo }}" alt="image of {{ user.name }}" />
      <a href="{% url 'profile' user.slug %}"></a>
      
    {% else %}
      <a href="#">Sign up</a>
      <a href="{% url 'login' %}">Login</a>

    {% endif %}
  </div>
</header>