{% extends 'base.html' %}
{% load static %}


{% block title %}
  Chirp ~ speak your mind!
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'ChirpApp/index.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/header.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/navigation.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/decoration.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/post.css' %}" />
{% endblock %}


{% block content %}
  {% include "ChirpApp/includes/header.html" %}
  {% include "ChirpApp/includes/navigation.html" %}
  {% include "ChirpApp/includes/decoration.html" %}
  
  <main>

    <section class="post-write">
      {% if user.is_authenticated %}
        <h1>Have something to say?</h1>
        <form action="{% url 'home' %}" method="post">
          {% csrf_token %}
          <div class="form-control {% if post_form.content.errors %}invalid{% endif %}">
            {{ post_form.content.label_tag }}
            {{ post_form.content }}
            {{ post_form.content.errors }}
          </div>
          <div class="form-lower">
            <div class="form-control {% if post_form.font.errors %}invalid{% endif %}">
              {{ post_form.font.label_tag }}
              {{ post_form.font }}
              {{ post_form.font.errors }}
            </div>
            <span id="characters-left">200</span>
            <button id="post-post">Chirp</button>
          </div>
        </form>
      {% else %}
        <h1>Please <a href="{% url 'login' %}" id="h1login">login</a> to write a post.</h1>
      {% endif %}
      </section>

    <section class="post-list">
      {% for post in posts %}
        {% include 'ChirpApp/includes/post.html' %}
      {% endfor %}
    </section>

    <div class="spacer"></div>

  </main>

  <script src="{% static 'ChirpApp/scripts/characters.js' %}"></script>
  <script src="{% static 'ChirpApp/scripts/fonts.js' %}"></script>

{% endblock %}