{% extends 'base.html' %}
{% load static %}


{% block title %}
  Chirp ~ speak your mind!
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'ChirpApp/index.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/header.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/navigation.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/decoration.css' %}" />
  <link rel="stylesheet" href="{% static 'ChirpApp/includes/post.css' %}" />
{% endblock %}


{% block content %}
  {% include "ChirpApp/includes/header.html" %}
  {% include "ChirpApp/includes/navigation.html" %}
  {% include "ChirpApp/includes/decoration.html" %}
  
  <main>

    <section class="post-write">
      <h1>Have something to say?</h1>
      <form>
        <textarea name="new-post"
                  id="write-space"
                  class="bold"
                  rows="4"
                  maxlength="200"
                  placeholder="I think that..." ></textarea>
        <div class="form-lower">
          <div class="radio">
            <label id="radbold" class="active"><input type="radio" class="bold" name="font" value="bold">Bold</label>
            <label id="radold"><input type="radio" class="old" name="font" value="old">Old</label>
            <label id="radwild"><input type="radio" class="wild" name="font" value="wild">Wild</label>
          </div>
          <span id="characters-left">200</span>
          <button id="post-post">Chirp</button>
        </div>
      </form>
    </section>

    <section class="post-list">
      
    </section>

    <div class="spacer"></div>

  </main>

  <script src="{% static 'ChirpApp/scripts/characters.js' %}"></script>
  <script src="{% static 'ChirpApp/scripts/fonts.js' %}"></script>

{% endblock %}