{% extends 'base.html' %}
{% load static %}


{% block title %}
  Chirp ~ post by {{ post.author }}
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static "ChirpApp/post-detail.css" %}" />
  <link rel="stylesheet" href="{% static "ChirpApp/includes/header.css" %}" />
  <link rel="stylesheet" href="{% static "ChirpApp/includes/navigation.css" %}" />
  <link rel="stylesheet" href="{% static "ChirpApp/includes/decoration.css" %}" />
  <link rel="stylesheet" href="{% static "ChirpApp/includes/post.css" %}" />
{% endblock %}


{% block content %}
  {% include "ChirpApp/includes/header.html" %}
  {% include "ChirpApp/includes/navigation.html" %}
  {% include "ChirpApp/includes/decoration.html" %}

  <main>
    <a href="{% url 'home' %}">Back</a>

    <section id="main-post">
      <span>{{ post.date }}</span>
      <h2 class="{{ post.font }}">{{ post.content|linebreaks }}</h2>
      <h3>{{ post.author }}</h3>
    </section>

    <div class="comments" id="comments">
      {% for comment in comments %}
        <section class="comment">
          <p>{{ comment.date }}</p>
          <h2 class="{{ post.font }}">{{ comment.content|linebreaks }}</h2>
          <h3>{{ comment.author }}</h3>
        </section>
      {% endfor %}
    </div>

    <section class="commentform" id="comment-form">
      {% if user.is_authenticated %}
        <h2>Leave a reply</h2>
        <form action="{% url "post-detail-page" post.slug %}" method="POST">
          {% csrf_token %}
          {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
              {{ form_field.label_tag }}
              {{ form_field }}
              {{ form_field.errors }}
            </div>
          {% endfor %}
          <button>Chirp</button>
        </form>
      {% else %}
        <h2>Please <a href="{% url 'login' %}" id="h2login">login</a> to leave a comment</h2>
      {% endif %}
    </section>

    <div class="spacer"></div>

  </main>

  <script src="{% static 'ChirpApp/scripts/characters.js' %}"></script>

{% endblock %}