@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Noto+Serif:wght@700&family=Monoton&display=swap');

.bold {
  font-family: 'Noto Serif', serif;
}

.old {
  font-family: 'Macondo', cursive;
}

.wild {
  font-family: 'Monoton', cursive;
}

.post {
  width: 70%;
  border: 3px solid #7E4E7C;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

.post p:nth-child(2) {
  font-size: 70%;
}

.post h2 {
  text-align: center;
}

.post h3 {
  text-align: right;
  margin-right: 20%;
}

